/* DEMO ONLY - Basic Grid Page */
.container .demo { text-align: center; }
.container .demo div { padding: 8px 0; }
.container .demo div:nth-child(odd) { color: #FFFFFF; background: #CCCCCC; }
.container .demo div:nth-child(even) { color: #FFFFFF; background: #979797; }
@media screen and (min-width: 180px) and (max-width: 900px) {
  .container .demo div { margin-bottom: 0; }
}